* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Futura', 'Century Gothic', 'Emona SemiBold';
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: white
}

a:hover {
    text-decoration: none;
    color: white
}

a:focus {
    text-decoration: none;
    color: yellow;
}

a:active {
    text-decoration: none;
    color: white
}

:root {
    --archblue: #1f3354;
    --archgold: #f7af1b;
    --archorange: #ff671d;
    --archgray: #dbdbdb;
}

.header {
    height: 110px;
    background-color: white;
    background-size: auto 100%;
}

.header img {
    height: 100%
}

.hero {
    display: flex;
    height: 450px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
    background-image: url("../images/cniSky.JPG");
    background-repeat: no-repeat;
}

.hero p {
    width: 15%;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 40px;
}

.content {
    display: flex;
    flex-wrap: wrap;
}

.intro {
    padding: 50px 100px 50px 100px;
    border-bottom: solid black 2px;
}

.intro h1,
p {
    font-size: 1.5em;
}

.content {
    display: flex;
}

.benefits {
    padding: 0, 50px;
    border: solid black 1px;
    width: 50%;
}

.benefits h2 {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.benefit-li {
    display: flex;
    align-items: center;
    width: 100%;
}

.benefit-ul {
    align-items: stretch;
}

.benefits img {
    height: 60px;
    justify-content: flex-start;
}

.benefits p {
    font-size: 1em;
    justify-content: center;
    padding-left: 20px;
}

.purposes {
    padding: 0, 50px;
    border: solid black 1px;
    width: 50%;
}

.purposes h2 {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.purposes-ul {
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: center;
    width: 100%;
    padding-left: 20px;
}

.purposes li {
    padding-top: 20px;
}

.quote-request {
    display: flex;
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    /* background: rgba(0, 0, 0, 0.6); */
    background-size: 100%;
    background-position: center;
    background-image: url("../images/van.jpg");
    background-repeat: no-repeat;
    margin-top: 5px white;
    transition: .3s ease-in-out;
}

.quote-request:hover {
    background-size: 150%;
    transition: .3s ease-in-out;
}

.quote-request-content:hover {
    background: none
}

#test-banner {
    display: flex;
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background: rgba(0, 0, 0, 0.6);
    background-size: 100%;
    background-position: center;
    background-image: url("../images/van.jpg");
    background-repeat: no-repeat;
    margin-top: 5px white;
    transition: .3s ease-in-out;
}

#test-banner:hover {
    transform: scale(1.1);
    transition: .3s ease-in-out;
}

.quote-request-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.quote-request-content p {
    font-weight: bold;
    font-size: 1.5em;
}

.quote-request-content p span {
    color: var(--archorange)
}

.quote-request-content button {
    background-color: transparent;
    color: white;
    border: solid var(--archorange) 1px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
}

.quote-request-content button:hover {
    background-color: #ff671d;
    transition: 0.3s;
}